 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    {% for i in (1..post.img_num) %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}{{i}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" id="portofolio">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            {% if page.img_path %}
                            <img src="/asset/img/{{page.img_path}}/{{i}}.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% else %}
                            <img src="/asset/img/{{page.term}}/{{i}}.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            <h>{{ post.title }}</h>
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}